pkgbase = cachyos-ananicy-rules
	pkgdesc = CachyOS - ananicy-rules
	pkgver = 1.1.36
	pkgrel = 1
	epoch = 1
	url = https://github.com/CachyOS/ananicy-rules
	arch = any
	groups = cachyos
	license = GPL-3.0-or-later
	makedepends = git
	provides = ananicy-rules-git
	conflicts = ananicy-rules-git
	replaces = ananicy-rules-git
	source = ananicy-rules::git+https://github.com/CachyOS/ananicy-rules.git#tag=1.1.36
	sha256sums = ce5b763f81e19dcc8e1040465da4b7dd2373f1aae9cbc4338d0954a699f662bb

pkgname = cachyos-ananicy-rules
